.back, .ahead {
    background: var(--primary-linear-bg-color);
}
.back::after, .ahead::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background: var(--primary-linear-bg-color);
    filter: blur(0.5rem);
    z-index: -1;
}