@import "tailwindcss";

#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
	box-sizing: border-box;
	outline: none;
}

input {
	outline: none;
	border: 1px solid #FFB900;
	margin-bottom: 15px;
	border-radius: 0.5rem;
	padding: 5px;
}
input::placeholder {
	text-align: center;
}

input:focus {
	background: #FFB900;
	color: black;
}

.submit {
	background: black;
	border: none;
	padding: 10px 20px;
	margin-top: 30px;
}
/* :root {
	--color-amber-400: var(--color-amber-400);
	--color-amber-500: var(--color-amber-500);
} */