@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body {
    width: 85%;
    margin: 5% auto;
    background: #222222;
}
.header {
    width: 100vw;
    height: 100vh;
}
.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav-bar .logo {
    color: #E6533C;
    font-size: 2.5rem;
    font-weight: 400;
    font-style: italic;
}
.nav-bar .action {
    list-style: none;
    display: flex;
    text-align: center;
    align-items: center;
    border: 1px solid #323232;
    border-radius: 2rem;
}
.nav-bar .action li a {
    text-decoration: none;
    color: #fff;
    padding: 0 10px;
    margin: 0 20px;
    font-size: 1.3rem;
    font-weight: 400;
}
.nav-bar .action li:first-child {
    background: #E6533C;
    padding: 8px 0;
    margin-left: 3px;
    border-radius: 20px;
}
/* nav bar section end */

.bannar {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}

.bannar .bannar-left {
    margin-top: 5.5rem;
}
.bannar .bannar-left p {
    margin: 1.5rem 0;
    color: #999999;
    line-height: 25px;
    letter-spacing: 1px;
}
.button {
    padding: 1rem 3rem;
    border-radius: 2rem;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: bold;
}
.button-denger {
    color: #ffff;
    background: #E6533C;
    margin-right: 10px;
}


.bannar .bannar-right {
    width: 100%;
    height: 105%;
    background-image: url(./images/Images\ 2.png);
    background-position: 150px 30px;
    background-repeat: no-repeat;
    background-size: contain;
}

.bannar-right {
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding-bottom: 3rem;
}
.bannar-right .tutorial {
    display: flex;
    gap: 1rem;;
    margin-left: 50px;
}
.bannar-right .banner-content {
    padding: 1rem 1.5rem;
    color: #999999;
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur(10px);
}
.bannar-right .tutorial .video-icon {
    display: flex;
    align-items: center;
    color: #E6533C;
}
.video-icon .material-symbols-outlined {
    font-size: 2rem;
    overflow: hidden;
}
.bannar-right h2 {
    color: white;
}
.bannar-right p {
    font-size: 14px;
}
.banner-video-turorial {
    margin-top: 5px;
}

.bannar-right .workout {
    margin-bottom: 250px;
    margin-right: 1.9rem;
}
.five-hund {
    font-size: 2rem !important;
}